{% extends 'admin/index.html.twig' %}

{% block title %}Classements par Tournoi{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card position-relative">
                <div class="card-body">
                    <p class="card-title">Classements par Tournoi</p>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 mx-auto">
                            <form action="{{ path('tournament_ranking') }}" method="post">
                                <div class="form-group">
                                    <label for="tournament">Choisir un tournoi:</label>
                                    <select id="tournament" name="tournament" class="form-control">
                                        <option value="">--Choisir un tournoi--</option>
                                        {% for tournament in tournaments %}
                                            <option value="{{ tournament.id }}">{{ tournament.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Filter</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-9 col-md-9 mx-auto">
                            {% if tournament != '' %}
                            {{ tournament }}
                            {% endif %}
                            <table class="table">
                                <thead>
                                <tr class="text-center">
                                <th scope="col">Joueur</th>
                                <th scope="col">Nb Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ranking in rankings %}
                                    <tr class="text-center">
                                        <td><img class="img-fluid" src="{{ asset('images/players/'~ranking.player.image) }}" alt="{{ ranking.player.name }}"> {{ ranking.player.name }}</td>
                                        <td>{{ ranking.points }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="text-center">
                                        <td></td>
                                        <td>Pas encore de classement pour ce tournoi ! </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

