{% extends 'admin/index.html.twig' %}
	{% block title %}Liste des Videos{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card position-relative">
                <div class="card-body">
                    <p class="card-title">Liste des Videos</p>
                    <table class="table">
                        <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Match</th>
                            <th scope="col">url</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for video in videos %}
                            <tr>
                                <td class="text-center">{{ video.id }}</td>
                                <td class="text-center">{{ video.matchId.playerOne.name }} vs {{ video.matchId.playerTwo.name }}</td>
                                <td class="text-center">{{ video.url }}</td>
                                <td class="text-center"><a class="btn btn-primary" href="{{ path('video_edit', {id: video.id}) }}">Edter</a></td>
                            </tr>
                        {% else %}
                            Pas encore de Videos
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}