{% extends 'base.html.twig' %}
	{% block title %}{{ article.title }}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-12">

        <div class="imagezone">
            <img class="img-fluid" src="{{ asset('images/articles/' ~ article.image )}}" alt="{{ article.title }}">
        </div>
        <h1>{{ article.title }}</h1>
        <p>
            <small>Le {{ article.createdAt|date("d.m.Y") }}</small>
        </p>
        <hr>

        <p>{{ article.content|raw }}</p>
        <hr>
        <div>
            <h4>Commentaires</h4>
            {% if app.user %}
                {% include 'comment/add.html.twig' %}
            {% else %}
                <p>
                    Vous devez être <a href="{{  path('security_login') }}">Connecté(e)</a> pour pouvoir commenter cet article
                </p>
                <br>
            {% endif %}
            {% for comment in comments %}
                <div>
                    <div class="thumbnail">
                        <small>{{ comment.createdAt|date("d.m.Y") }} par {{ comment.user.username }}</small>
                        <br>
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
            {% else %}
                <p>
                    Soyez le premier à commenter cet article !
                </p>
            {% endfor %}
        </div>
        <hr>
    </div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock %}